<Layouts.app flash={@flash}>
  <div class="w-full flex flex-col gap-4 lg:gap-8 bg-base-200 rounded-lg mb-4 max-w-5xl mx-auto">
    <div class="flex flex-col gap-4 max-w-2xl mx-auto">
      <%= for page <- @chapter.pages do %>
        <image src={parse_image_source(page.source)}/>
      <% end %>
    </div>
  </div>
</Layouts.app>
