<Layouts.app flash={@flash}>

  <div class="flex flex-col">

    <div class="flex">
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Total comics count</div>
          <div class="stat-value">{@count_comics}</div>
          <div class="stat-desc"></div>
        </div>
      </div>

    </div>

  </div>

</Layouts.app>
